@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

// starts header
$purpleColor: #9d46e7;
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  @include flex();
  padding: 0 70px;
  height: 60px;
  background-color: #ffffff;

  .header-title {
    color: $purpleColor;
    font-weight: bold;
    font-size: 24px;
  }

  .header-menu-list {
    @include flex();
    list-style: none;

    li {
      padding: 0 50px;
      font-size: 18px;
    }
  }

  .header-menu {
    @include flex();

    .burger {
      padding: 0 50px;
      &:hover {
        cursor: pointer;
      }
    }

    .first-line,
    .second-line {
      width: 21px;
      height: 0;
      border: 2px solid #000000;
      background-color: #000000;
    }

    .second-line {
      margin-top: 6px;
    }

    .third-line {
      width: 14.88px;
      margin-top: 6px;
      border: 2px solid #000000;
      margin-left: auto;
      background-color: #000000;
    }
  }
}

.mobile-navbar {
  display: none;
}

// starts header responsive
@media (max-width: 872px) {
  $border: 2px solid #eaecee;

  .header {
    border-bottom: $border;

    .header-title {
      display: flex;
      height: 100%;
      align-items: center;
      padding-left: 10px;
      font-size: 12px;
      border-left: $border;
    }

    .header-menu {
      height: 100%;

      li {
        font-size: 12px;
        padding: 0 20px;
      }

      .burger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-left: $border;
        border-right: $border;
        padding: 0 10px;
        height: 100%;

        .first-line,
        .second-line,
        .third-line {
          border: 1px solid black;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .header {
    padding: 0 20px;
    border: none;
    .header-title {
      border: none;
      font-size: 24px;
    }
    .header-menu {
      .burger {
        border: none;
      }
    }
  }
  .header-menu {
    .header-menu-list {
      display: none;
    }
  }
  .mobile-navbar {
    position: absolute;
    margin-top: -60px;
    height: 100vh;
    display: block;
    padding: 0 20px;
    background-color: white;
    z-index: 100;
    left: -100%;
    width: 100%;

    .mobile-navbar-header {
      @include flex();
      z-index: 10;
      height: 60px;
    }

    .title {
      color: $purpleColor;
      font-weight: bold;
      font-size: 24px;
      padding-left: 10px;
    }

    .close {
      font-size: 2rem;
      padding: 0 10px;
    }

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        flex-direction: column;
        @include flex();

        li {
          padding: 60px 0;
          font-weight: 700;
          font-size: 2rem;
        }
      }
    }
  }
}

// ends header responsive

// ends header

// starts summary
.heading {
  background-color: white;
  padding: 90px 0 50px 70px;

  .heading-title {
    text-transform: uppercase;
    line-height: 48.76px;
  }

  .heading-paragraph {
    margin-top: 20px;
  }

  .heading-button {
    text-transform: uppercase;
    background-color: $purpleColor;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    padding: 15px 48px 16px 49px;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
}

@media (max-width: 525px) {
  .heading {
    padding: 61px 20px 50px 20px;
    line-height: 29.26px;

    .heading-title {
      .none {
        display: none;
      }
    }

    .heading-paragraph {
      line-height: 19.5px;
    }

    .heading-button {
      width: 160px;
      height: 50px;
      padding: 13px 37px;
      line-height: 24.38px;
      font-size: 20px;
    }
  }
}
// ends summary

// starts rug wallpaper
.wallpaper {
  img {
    width: 100vw;
    height: 310px;
  }
}
@media (max-width: 872px) {
  .wallpaper {
    img {
      height: auto;
    }
  }
}
// ends rug wallpaper

// starts advices
.advices {
  padding: 100px 170px 112px 170px;
  text-align: center;

  .advices-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36.57px;
  }

  .advices-advices {
    @include flex();
    margin-top: 72px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 872px) {
  .advices {
    padding-right: 100px;
    padding-left: 100px;
  }
  .advices-advices {
    margin-top: -80px !important;
  }
  .margin {
    margin-top: 200px;
  }

  .advices-advice {
    width: 200px;
    height: 200px;
    @include flex();
    text-align: center;
    border-radius: 50%;
    border: 2px solid #9d46e7;
    font-size: 12px;
    line-height: 1;

    span {
      margin: auto;
    }
  }
}

@media (max-width: 525px) {
  .advices {
    padding: 40px 20px;
    text-align: initial;

    .advices-heading {
      font-size: 22px;
      text-align: left;
    }

    .margin {
      margin-top: 0;
    }

    .advices-advices {
      align-items: flex-start;
      flex-direction: column;
      margin-top: 20px !important;

      .advices-advice {
        border: none;
        height: 60px;
        font-size: 20px;
        margin-bottom: 40px;
        line-height: 30px;
        width: auto;
      }
    }
  }
}
// ends advices

// starts about crypto
.about-crypto {
  background-color: #eaecee;
  padding: 60px 233px 60px 230px;
  display: flex;
  width: 100%;

  .about-crypto-img {
    background-color: #c4c4c4;
    width: 443px;
    height: 400px;
    opacity: 30%;
  }

  article {
    margin-left: 57px;
    margin-top: 47px;
    width: 477px;

    .about-crypto-heading {
      font-size: 30px;
      line-height: 37px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .about-crypto-paragraph {
      margin-top: 30px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;

      span {
        color: $purpleColor;
      }
    }
  }
}

@media (max-width: 872px) {
  .about-crypto {
    flex-direction: column;
    padding: 20px;

    .about-crypto-img {
      width: 335px;
      height: 302px;
      margin-right: 20px;
    }

    article {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;

      .about-crypto-heading {
        font-size: 22px;
      }

      .about-crypto-paragraph {
        width: 335px;
        height: 312px;
        margin: 0;
      }
    }
  }
}
// ends about crypto

// starts your crypto rug
.your-crypto-rug {
  padding: 90px 315px 90px 230px;
  display: flex;
  width: 100%;

  .your-img {
    width: 443px;
    height: 400px;
    background-color: #c4c4c4;
    opacity: 0.3;
  }

  .article {
    margin-left: 57px;
    margin-top: 27px;

    .article-heading {
      font-size: 30px;
      line-height: 37px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .pricing {
      margin-top: 10px;

      p {
        font-size: 16px;
        line-height: 26px;

        span {
          font-weight: bold;
        }
      }
    }
    .rug-quantity {
      margin-top: 40px;
      display: flex;
      align-items: center;
    }
    input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    .number-input {
      border: 1px solid #d7d7d7;
      border-radius: 10px;
      display: inline-flex;
      margin-left: 12px;
    }

    .number-input,
    .number-input * {
      box-sizing: border-box;
    }

    .number-input button {
      outline: none;
      -webkit-appearance: none;
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      margin: 0;
      position: relative;
    }

    .number-input button:before,
    .number-input button:after {
      display: inline-block;
      position: absolute;
      content: "";
      width: 1rem;
      height: 2px;
      background-color: #212121;
      transform: translate(-50%, -50%);
    }
    .number-input button.plus:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    .number-input input[type="number"] {
      font-family: sans-serif;
      max-width: 5rem;
      padding: 0.5rem;
      border: solid #ddd;
      border-width: 0 2px;
      font-size: 2rem;
      height: 3rem;
      font-weight: bold;
      text-align: center;
    }
  }
  .mint-button {
    margin-top: 22px;
    text-transform: uppercase;
    background-color: $purpleColor;
    width: 205px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 66px 13px 60px;
  }
  .rug-heading {
    margin-top: 20px;
    font-weight: 500;

    span {
      color: $purpleColor;
    }
  }
}

@media (max-width: 872px) {
  .your-crypto-rug {
    flex-direction: column;
    padding: 20px;

    .your-img {
      width: 335px;
      height: 302px;
    }

    .article {
      margin-left: 0px;
      .article-heading {
        font-size: 22px;
      }
    }
  }
}

// ends your crypto rug

// starts rare rugs
.rare-rugs {
  background-color: #ecf1f5;
  padding: 70px 130px;

  .rare-rugs-heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;

    span {
      color: $purpleColor;
    }
  }

  .rare-rugs-cards {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .card {
      margin-right: 23px;
    }

    .first-row,
    .second-row {
      display: flex;
      justify-content: space-between;
    }

    .card-text {
      margin-top: 10px;
    }

    .card-image {
      width: 280px;
      height: 253px;
      background-color: #c4c4c4;
      opacity: 0.3;
    }
    .card-purple,
    .card-bold {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
    }
    .card-purple {
      color: $purpleColor;
    }
  }
}

@media (max-width: 872px) {
  .rare-rugs {
    padding: 40px 20px;

    .rare-rugs-heading {
      font-size: 22px;
    }

    .first-row,
    .second-row {
      flex-direction: column;
    }

    .margin-top {
      margin-top: 30px;
    }

    .rare-rugs-cards {
      justify-content: flex-start;
      .card-image {
        width: 158px;
        height: 160px;
      }

      .card-text {
        font-size: 14px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .display {
    display: none;
  }
  .rare-rugs-heading {
    text-align: left !important;
    line-height: 1 !important;
  }
}
// ends rare rugs

// starts lorem ipsum
.lorem-ipsum {
  .faq {
    padding: 90px 473px 40px 472px;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
  }

  .lorem-container {
    padding-left: 330px;
    padding-right: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .lorem-text {
      margin-bottom: 40px;
      width: 680px;
      .lorem-text-heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
      }
      .lorem-text-paragraph {
        margin-top: 12px;
      }
    }
  }
}

@media (max-width: 872px) {
  .lorem-ipsum {
    .faq {
      padding: 50px 30px;
      text-align: left;
      font-size: 22px;
    }
    .lorem-container {
      padding-left: 10px;
      padding-right: 0px;
      .lorem-text {
        width: 335px;
        .lorem-text-heading {
          font-size: 18px;
        }
        .lorem-text-paragraph {
          font-size: 14px;
        }
      }
    }
  }
}
// ends lorem ipsum

// starts team members
.team-members {
  background-color: #ecf1f5;
  padding: 80px 473px;

  .team-members-heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
  }

  .team-members-paragraph {
    padding-left: 93px;
    margin-top: 27px;
    width: 680px;
    height: 78px;
    line-height: 26px;
    text-align: center;
  }

  .members {
    display: flex;
    justify-content: center;

    .members-first-row,
    .members-second-row {
      display: flex;
    }
  }

  .members-card {
    margin-top: 60px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .members-card-img {
      background-color: #c4c4c4;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .members-card-name {
      margin-top: 20px;
      font-weight: 700;
      color: $purpleColor;
    }
  }
}

@media (max-width: 872px) {
  .team-members {
    padding: 40px 20px;

    .members {
      flex-direction: column;
    }

    .team-members-heading {
      font-size: 22px;
      text-align: left;
    }

    .team-members-paragraph {
      font-size: 14px;
      width: 80vw;
      height: 104px;
      text-align: left;
      padding-left: 0;
    }
  }
}
// ends team members

// starts footer
footer {
  background-color: $purpleColor;
  padding: 50px 609px 50px 336px;

  .footer-list {
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
  }
}

@media (max-width: 872px) {
  footer {
    padding: 40px 20px;

    .footer-list {
      font-size: 24px;
    }
  }
}
// ends footer
